<app-menu></app-menu>

<form class="form-container" [formGroup]="formulario">
    <div class="form-group">
        <label for="first-name">nome</label>
        <input type="text" id="first-name" formControlName="nome">
    </div>
    <div class="form-group">
        <label for="last-name">sobrenome</label>
        <input type="text" id="last-name" formControlName="sobrenome">
    </div>
    <div class="form-group">
        <label for="email">email</label>
        <input type="email" id="email" formControlName="email" >
    </div>
    <div class="form-group">
        <label for="password">senha</label>
        <input type="password" id="password" formControlName="senha" >
    </div>
    <div class="form-group">
        <label for="phone">telefone</label>
        <input type="tel" id="phone" formControlName="telefone">
    </div>
    <div class="form-group">
        <label for="address">endereco</label>
        <input type="text" id="address" formControlName="endereco">
    </div>
    <div class="form-group">
        <label for="dob">dtnascimento</label>
        <input type="date" id="dob" formControlName="dtnascimento">
    </div>
    <div class="form-group">
        <button (click)="onSave()">Enviar</button>
        <button (click)="onCancelar()">Cancelar</button>
    </div>
    <div>
        <label>Tipo</label>
        <select>
            <option>Selecione</option>
            <option *ngFor="let tipo of arrTipos" [value]="tipo.id_tipo">{{tipo.descricao}}</option>
        </select>
    </div>
</form>

<h3 class="mt-5">Relatório de Usuários</h3>
<table class="table table-striped mt-4">
    <thead>
        <tr>
            <th>Ação</th>
            <th>Id</th>
            <th>Nome</th>
            <th>Sobrenome</th>
            <th>Telefone</th>
            <th>Email</th>
            <th>Tipo</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <button class="bnt bnt-warning bnt-sm">Editar</button>
                <button class="bnt bnt-danger bnt-sm">Excluir</button>
            </td>
            <td>1</td>
            <td>João</td>
            <td>Silva</td>
            <td>123456789</td>
            <td>joaocom</td>
            <td>Admin</td>
        </tr>
        <tr>
            <td>
                <button class="bnt bnt-warning bnt-sm">Editar</button>
                <button class="bnt bnt-danger bnt-sm">Excluir</button>
            </td>
            <td>2</td>
            <td>Alan</td>
            <td>Bento</td>
            <td>987654321</td>
            <td>alanbentocom</td>
            <td>Usuário</td>
        </tr>
        <tr>
            <td>
                <button class="bnt bnt-warning bnt-sm">Editar</button>
                <button class="bnt bnt-danger bnt-sm">Excluir</button>
            </td>
            <td>3</td>
            <td>Ana</td>
            <td>Julia</td>
            <td>1122334455</td>
            <td>anajucom</td>
            <td>Usuário</td>
        </tr>
        <tr>
            <td>
                <button class="bnt bnt-warning bnt-sm">Editar</button>
                <button class="bnt bnt-danger bnt-sm">Excluir</button>
            </td>
            <td>4</td>
            <td>Levi</td>
            <td>Bento</td>
            <td>135798642</td>
            <td>levibentocom</td>
            <td>Usuário</td>
        </tr>
    </tbody>
</table>
