<section>
    <img src="/assets/img/logo.png" alt="">
    <nav class="menu">
       
         <a routerlink="/home">Home</a>
    
         <!-- Administração com detalhes -->
    
         <details>
            <summary>Administração</summary>
            <ul>
                <li><a routerLink="/cadUsuario">Cadastrar Usuários</a></li>
                <li><a routerLink="/outros">Outros</a></li>
            </ul>
         </details>
    
         
            <!-- Produtos com detalhes -->
    
            <details>
                <summary>Produtos</summary>
                <ul>
                    <li><a routerLink="/cadProduto">Cadastrar Produtos</a></li>
                    <li><a routerLink="/movimentar-produto">Movimentar Produtos</a></li>
                </ul>
            </details>
      </nav>
</section>

  